<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="myApp">
<head>
    <title></title>
    <script src="lib/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/helloController.js"></script>
</head>
<body>
    
    <div ng-controller="firstController">

       <div ng-repeat="emp in employees">
           Name - {{emp.firstName}} {{emp.lastName}} ,Email - {{emp.email}}
           <br />
           Phones:-
           <div ng-repeat="ph in emp.phones">
               {{ph.phone}}
           </div>

       </div>
        Enter Emp Name: <input type="text" ng-model="firstEmployee"  />
        <br />
        Enter Emp Last name: <input type="text" ng-model="lastEmployee" />
        <br />
        Enter Emp Email: <input type="text" ng-model="emailEmployee" />
        
        Enter Phones:
        <input type="button" value="Insert Phone" ng-click="addphone();" />
        <div ng-repeat="ph in phones">
            <input type="text" ng-model="phEmployee"/>
        </div>

     
        <input type="button" value="Insert Employee" ng-click="insertEmp()" />


    </div>


</body>
</html>
